{require_min_otp_vsn, "22.3"}.

{erl_opts, [
  debug_info,
  warn_unused_vars,
  warn_shadow_vars,
  warn_unused_import
 ]
}.

{deps, [
  tls_certificate_check,
  gproc,
  {zotonic_stdlib, "~> 1.9"},
  {jobs, "~> 0.10"}
]}.

{xref_checks, [
  undefined_function_calls,
  locals_not_used,
  deprecated_function_calls
]}.

{xref_ignores, [
]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/mworrell/s3filez">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"readme">>}
]}.
