{require_min_otp_vsn, "22.1"}.

{erl_opts, [
  debug_info,
  warn_unused_vars,
  warn_shadow_vars,
  warn_unused_import
 ]
}.

{deps, [
  tls_certificate_check,
  {jobs, "~> 0.10.0"}
]}.

{xref_checks, [
  undefined_function_calls,
  locals_not_used,
  deprecated_function_calls
]}.

{xref_ignores, [
]}.
